.App {
  text-align: center;
}

.Country img  {
  border:1px solid black;
  box-shadow: 10px 5px 5px rgb(191, 191, 191);
}

.Country h1, .Country table {
  margin-top:2rem;
}

.Country li {
  list-style-type:none;
  text-align:left;
}
.Country li a {
  text-decoration:none;
  color:rgb(11, 0, 130);
}